#header{
    background: #f8f8f8;
    color:#444;
    border-bottom: 1px solid #eaeaea;
    /* margin-bottom: 20px; */
    padding-top:15px;
    padding-bottom:15px;
}
#header a:link, #header a:visited {
    color: #447e9b;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #222;
    font-weight: 400;
    font-size: 20px;
}
.module h2, .module caption, .inline-group h2 {
    background: steelblue;
}
.module caption{
    border-bottom: 1px solid #eaeaea;
}

div.breadcrumbs{
    background: steelblue;
}
.colIndex{
    width: auto!important;
}
.sidebarbs.dropdown-menu.show{
    position: inherit!important;
    transform:unset!important ;
    width: 100%!important;
    border:none;
    background-color: transparent;
    font-size: .75rem;
}
.sidebarbs.dropdown-menu a{
    color:#333;

}
#content h1{
    font-size: 1.5rem;

}
table .form-row {
    display: table-row !important;
}
.form-row{
    display:inherit!important;
}
li.nav-item{
    list-style-type: none!important;
}
.sidebarbs-mobile.dropdown-menu.show{
    /* position: inherit!important; */
    transform:unset!important ;
    width: 100%!important;
    border:none;
    background-color: whitesmoke;
    font-size: 1rem;
    /* text-transform: uppercase; */
    bottom: 120%!important;
    width: 100vw !important;
    margin: 0;
    padding: 0;
    margin-left: -15px;
    color:whitesmoke;
    border-top: 1px solid #eaeaea;
    z-index: 9999999!important;

}
.sidebarbs-mobile.dropdown-menu.show .dropdown-item{
    margin-top: .5rem;
    margin-bottom: .5rem;
    color:black
}
.sidebarbs-mobile.dropdown-menu.show .sub-item{
    font-size: .7rem;
    margin-top: 0;
    margin-bottom: 0;
}
.sidebarbs-mobile.dropdown-menu.show .item-header{
    margin-bottom: 0;

}
.mobile-nav{
    background-color: #f8f9fa;
}
.mobile-nav a.dropdown-toggle{
    color:black;
    /* text-transform: uppercase; */
}
.mobile-nav a.dropdown-toggle:hover{
    color: black;
}