#header{
    background: #f8f8f8;
    color:#444;
    border-bottom: 1px solid #eaeaea;
    /* margin-bottom: 20px; */
    padding-top:15px;
    padding-bottom:15px;
}
#header a:link, #header a:visited {
    color: #447e9b;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #222;
    font-weight: 400;
    font-size: 20px;
}
.module h2, .module caption, .inline-group h2 {
    background: steelblue;
}
.module caption{
    border-bottom: 1px solid #eaeaea;
}

div.breadcrumbs{
    background: steelblue;
}